@font-face {
  font-family: 'Lobster';
  src: url('/src/assets/fonts/Lobster/Lobster.otf');
  font-weight: normal;
  font-style: normal;
}

.navbar-brand, .carousel-caption h3 {
  font-family: "Lobster";
}

.carousel-caption h3 {
  font-size: 48px;
}